// for
@for $i from 1 through 16 {
  $width: percentage($i / 16);
  .porcento-#{$i} {
    width: $width;
  }
}

$container: 960;
$colunas: 12;
$gutter: 20;
@for $i from 1 through $colunas {
  $width: $container / $colunas * $i - $gutter;
  .grid-#{$i} {
    width: $width + px;
  }
}

// while

$numero: 1;
@while $numero <= 6 {
  .type-#{$numero} {
    font-size: 16 * $numero + px;
  }
  $numero: $numero + 1;
}

// each

$redes: facebook twitter pinterest instagram google youtube;

@each $redes in $redes {
  .#{$redes}-icon {
    background-image: url('../img/#{$redes}.png');
  }
}